<h1>Listing conferences</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Place</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @conferences.each do |conference| %>
    <tr>
      <td><%= link_to conference.title, conference %></td>
      <td><%= conference.date %></td>
      <td><%= conference.place %></td>
      <td>
      <div class="btn-group" data-toggle="buttons-checkbox">
        <%= link_to 'Edit', edit_conference_path(conference), class: "btn btn-primary" %>
        <%= link_to 'Destroy', conference, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn btn-danger" %>
      </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />

<%= link_to 'New Conference', new_conference_path,class: "btn btn-success" %>
